<div id="<%= dom_id coin %>">
  <p>
    <strong>Descrição:</strong>
    <%= coin.description %>
  </p>

  <p>
    <strong>Sigla:</strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong>Url da imagem:</strong>
    <%= image_tag coin.url_image, width: 20, height: 20 %>
  </p>

</div>
